<html>
  <head>
    <title>pr0file</title>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/nprogress.css">
    <script src="/static/javascript/jquery.js"></script>
    <script src="/static/javascript/nprogress.js"></script>
    <script src="/static/javascript/app.js"></script>
    <script src="/static/javascript/pages/profile.js"></script>
  </head>
  <body>
    <div class="image">
      <a href = "<%= profile_url %>">
        <div class="thumb circular" style="background: url(<%= avatar %>)">
        </div>
      </a>
      <h1><%= name %></h1>
    </div>
    <div class="text" align="center">
      <p>
        <table>
          <tr>
            <td><p><b>last offline</b></p></td>
            <td><p><%= date %></p></td>
          </tr>
          <tr>
            <td><p><b>location</b></p></td>
            <td><p><%= country + "/" + state %></p></td>
          </tr>
        </table>
      </p>
    </div>
    <div id="friends">
    </div>
    <footer>
      <p>You can logout at <a href="/logout">here</a></p>
    </footer>
    <script>
      profile('<%- friends %>');
    </script>
  </body>
</html>
