<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/theme.css">
  </head>
  <body>
    <div class="image">
      <a href = "<%= profile_url %>">
        <div class="thumb circular" style="background: url(<%= avatar %>)">
        </div>
      </a>
      <h1><%= name %></h1>
    </div>
    <div class="text">
      <p><b>last offline@</b><%= date %></p>
      <p><b>location@</b><%= location_str %></p>
    </div>
    <%
      for (var i = 0; i < friends.length; i++) {
    %>
        <p><a href="/<%= utils.stoc(friends[i].steamid) %>"><%= friends[i].personaname %></a></p>
    <%
      }
    %>
    <footer>
      <p>You can logout at <a href="/logout">here</a></p>
    </footer>
  </body>
</html>
